version: '3'

services:
  web-app:
    container_name: tavoli-gdr
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3010:3000"
    volumes:
      - ./src/data:/app/src/data
      - ./public/uploads:/app/public/uploads
    environment:
      - NODE_ENV=production
